#digitalLoomLabel {
	background-color: #9933cc;
	color: #ffffff;
	margin-top: 15px;
	padding: 35px;  // this aligns the text vertically
	height: 110px;
	text-align: center;
	vertical-align: middle;
}

#helpButton {
	margin-top: 15px;
	font-size: 200%;
	width: 100px;
	height: 110px;
}

#loadSavePanel {
	background-color: #eeeeee;
	margin-top: 15px;
	height: 110px;
}

#saveButton {
	margin: 10px 30px 0px 0px;  // TRBL
	width: 100px;
	height: 40px;
	font-size: 130%;
}

#deleteButton {
	margin: 10px 30px 0px 0px;  // TRBL
	width: 100px;
	height: 40px;
	font-size: 130%;
}

#saveAsSpan {
	font-size: 130%;
	padding: 0px 10px 0px 0px;
	margin: 15px 0px 0px 0px;
	text-align: right;
}

#saveAsInput {
	font-size: 130%;
	margin: 10px 10px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#loadDraftDropdown {
	font-size: 130%;
	margin-top: 10px;
}

#rightClickSpan {
	text-align: right;
}

.h4textspan {
	font-size: 16px;
	font-weight: bold; 
	text-align: right;
	padding: 0px;
	border: 0px;
}

#patternSpan {
	font-size: 16px;
	font-weight: bold; 
	text-align: right;
	padding: 0px;
	border: 40px 40px 40px 400px;
}

#colorSpan {
	font-size: 16px;
	font-weight: bold; 
	text-align: right;
	padding: 0px;
	border: 40px 40px 40px 400px;
}

#tieUpSpan {
	font-size: 16px;
	font-weight: bold; 
	text-align: right;
	padding: 0px;
	border: 40px 40px 40px 400px;
}

#warpPatternAWL {
	width: 460px;
	height: 80px;
	padding: 0px;
	border: 3px solid #cccccc;
	font-size: 16pt;
	resize: none;
	background-position: bottom right;
	background-repeat: no-repeat;
	background-image: url(images/BG-Warp-Pattern-Input.gif); 
}

#warpPatternButton  {
	border: none;
	width: 55px;
	height: 80px;
	margin: 0px 0px 0px -8px;
	background: url(images/WarpButtonPair.gif) 0px 0px no-repeat; 
}

#warpPatternButton:hover  { background-position: 0px -80px; }

#weftPatternAWL {
	width: 460px;
	height: 80px;
	padding: 0px;
	border: 3px solid #cccccc;
	font-size: 16pt;
	resize: none;
	background-position: bottom right;
	background-repeat: no-repeat;
	background-image: url(images/BG-Weft-Pattern-Input.gif); 
}

#weftPatternButton  {
	border: none;
	width: 55px;
	height: 80px;
	margin: 0px 0px 0px -8px;
	background: url(images/WeftButtonPair.gif) 0px 0px no-repeat; 
}

#weftPatternButton:hover  { background-position: 0px -80px; }

#warpColorAWL {
	width: 460px;
	height: 80px;
	padding: 0px;
	border: 3px solid #cccccc;
	font-size: 16pt;
	resize: none;
	background-position: bottom right;
	background-repeat: no-repeat;
	background-image: url(images/BG-Warp-Color-Input.gif); 
}

#warpColorButton  {
	border: none;
	width: 55px;
	height: 80px;
	margin: 0px 0px 0px -8px;
	background: url(images/WarpButtonPair.gif) 0px 0px no-repeat; 
}

#warpColorButton:hover  { background-position: 0px -80px; }

#weftColorAWL {
	width: 460px;
	height: 80px;
	padding: 0px;
	border: 3px solid #cccccc;
	font-size: 16pt;
	resize: none;
	background-position: bottom right;
	background-repeat: no-repeat;
	background-image: url(images/BG-Weft-Color-Input.gif); 
}

#weftColorButton  {
	border: none;
	width: 55px;
	height: 80px;
	margin: 0px 0px 0px -8px;
	background: url(images/WeftButtonPair.gif) 0px 0px no-repeat; 
}

#weftColorButton:hover  { background-position: 0px -80px; }

#tieUpAWL {
	width: 460px;
	height: 80px;
	padding: 0px;
	border: 3px solid #cccccc;
	font-size: 16pt;
	resize: none;
	background-position: bottom right;
	background-repeat: no-repeat;
	background-image: url(images/BG-Tieup-Input.gif); 
}

#tieUpButton  {
	border: none;
	width: 55px;
	height: 80px;
	margin: 0px 0px 0px -8px;
	background: url(images/TieUpButtonPair.gif) 0px 0px no-repeat; 
}

#tieUpButton:hover  { background-position: 0px -80px; }

#AWLOutput {
	width: 530px;
	height: 80px;
	padding: 0px;
	border: 3px solid #cccccc;
	font-size: 16pt;
	resize: none;
	background-position: bottom right;
	background-repeat: no-repeat;
	background-image: url(images/BG-AWL-Output.gif); 
}
