#digitalLoomLabel {
	background-color: #9933cc;
	color: #ffffff;
	margin-top: 15px;
	padding: 35px;  // this aligns the text vertically
	height: 110px;
	text-align: center;
	vertical-align: middle;
}

#helpButton {
	margin-top: 15px;
	font-size: 200%;
	width: 100px;
	height: 110px;
}

#loadSavePanel {
	background-color: #eeeeee;
	margin-top: 15px;
	height: 110px;
}

#saveButton {
	margin: 10px 30px 0px 0px;  // TRBL
	width: 100px;
	height: 40px;
	font-size: 130%;
}

#deleteButton {
	margin: 10px 30px 0px 0px;  // TRBL
	width: 100px;
	height: 40px;
	font-size: 130%;
}

#saveAsSpan {
	font-size: 130%;
	padding-top: 15px;
	text-align: right;
}

#saveAsNameInputColumn {
	font-size: 130%;
	padding-top: 10px;
}

#loadDraftDropdown {
	font-size: 130%;
	margin-top: 10px;
}

.h4textspan {
	font-size: 16px;
	font-weight: bold; 
	text-align: right;
	padding: 0px;
	border: 0px;
}

#warpPatternAWL {
	width: 230px;
	height: 100px;
	padding: 0px;
	border: 3px solid #cccccc;
	font-size: 16pt;
	resize: none;
	//background-position: bottom right;
	//background-repeat: no-repeat;
	//background-image: url(images/BG-Warp-Pattern-Input.gif); 
}

#warpPatternSequence {
	width: 240px;
	height: 100px;
	padding: 0px;
	border: 3px solid #cccccc;
	font-size: 16pt;
	resize: none;
	//background-position: bottom right;
	//background-repeat: no-repeat;
	//background-image: url(images/BG-Warp-Pattern-Output.gif); 
}

#warpPatternButton  {
	border: none;
	width: 55px;
	height: 80px;
	margin: 10px 0px 0px -8px;
	background: url(images/WarpButtonPair.gif) 0px 0px no-repeat; 
}

#warpPatternButton:hover  { background-position: 0px -80px; }
