
.colorCell { 
	margin-top: 10px;
	padding-top: 40px; 
}

.colorName {
	margin-top: -10px;
	font-size: 90%;
}

.colorRGB {
	font-size:85%; 
	float:left;
}

.colorHex {
	font-size:85%; 
	float:right;
}
